html, body {
	background-color: #de5443;
}

body { 
	background-color: #de5443;
	color: #ffecde;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	line-height: 1.8;
	padding-left: 8px;
}

#branding {
	overflow: hidden;
}

strong {
	font-weight: bold;
}

#logo {
	text-indent: -9999px;
	background: transparent url(../images/logo.png) no-repeat scroll top right;
	width: 194px;
	padding-left: 43px;
	height: 134px;
	float: left;
	position: relative;
	z-index: 1;
	margin-top: 1.2em;
	display: inline-block;
	overflow: hidden;
}

	#logo a {
		display: block;
		height: 100%;
	}
	
	#blurb {
		font-size: 1.8em;
		width: 400px;
		display: inline-block;
		margin-top: 4em;
		float: left;
		position: relative;
		margin-left: 195px;
		z-index: 1;
		line-height: 1.5;
}
	
#primary-nav {
	display: inline-block;
	text-align: left;
	position: absolute;
		top: 0;
		left: 0;
		right: 0;
	line-height: 1.2;
	background: #d17654 url(../images/nav-background.png) repeat-x scroll bottom;
	min-height: 4.3em;
	padding-left: 440px;
	width: auto;
	z-index: 0;
}

#primary-nav li {
	text-align: left;
	display: inline-block;
	width: 144px;
	font-size: 1.2em;
}

#primary-nav a {
	text-decoration: none;
	color: #ffecde;
	display: block;
	padding: 8px 0 21px 0;
}

#primary-nav li.current a:link, #primary-nav li.current a:visited {
	color: #fff0be;
}
#primary-nav a:hover, #primary-nav a:active {
	color: #fff !important;
}


#primary-nav strong {
	font-size: 1.5em;
	display: block;
}

h1 {
	font-size: 3.6em;
}

#content {
	padding-left: 72px;
	width: 576px;
	clear: both;
	padding-top: 14.4em;
	position: relative;
	overflow: hidden;
	padding-right: 287px;
	background: transparent url(../images/shed.png) no-repeat scroll top right;
	min-height: 916px;
	
}

	#content p {
		font-size: 1.2em;
	}
	
	#post-info {
		float: left;
		padding-right: 8px;
		width: 64px;
		padding-top: 0;
		position: absolute;
		left: 0;
		top: 13.65em;
		opacity: 0.5;
	}
	
	#post-info:hover {
		opacity: 1
	}
	
	#post-info a {
		color: #ffecde;
	}
	
	#post-info .published {
		text-align: center;
	}
	
	#post-info .month {
		display: block;
		text-transform: uppercase;
		letter-spacing: 0.3em;
	}
	
	#post-info .day {
		display: block;
		font-size: 3em;
		line-height: 1;
	}
	
	#post-info .month {
		display: block;
	}
	
	#post-info .year {
		font-size: 0.883em;
		letter-spacing: 0.3em;
	}
	
	#post-info .byline {

	}
	
	#post-info .byline, #post-info .permalink {
		font-size: 0.833em;
		text-align: center;
		line-height: 1.8;
	}
	
	#post-info .tags {
		text-align: center;
		line-height: 1.35;
		margin-top: 0.45em;
	}

	#post-info .tags a:link {
		text-decoration: none;
	}

	#post-info .tags a:hover {
		text-decoration: underline;
	}

	#post-info .tags h2 {
		font-weight: bold;
	}
	
	#post-info .tags li {
		display: inline-block;
	}
	

	